<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    
<h:form id="form-pie">
	#{msgs.textoIdioma} 
	<ul>   
	<li>
		<h:commandLink 
			value="#{msgs.enlaceIdiomaES}" 
			actionListener="#{settings.setSpanish}">
			
			<f:ajax render="@form :form-principal :form-cabecera"/>
		</h:commandLink>
	</li>
	<li>
		<h:commandLink 
			value="#{msgs.enlaceIdiomaEN}" 
			actionListener="#{settings.setEnglish}">
			
			<f:ajax render="@form :form-principal :form-cabecera"/>
		</h:commandLink>  
	</li>
	<li>
		<h:commandLink 
			value="#{msgs.enlaceCasa}" 
			action="/index.xhtml">
			
			<f:ajax render="@form :form-principal "/>
		</h:commandLink>
	</li>
	</ul>
</h:form>

</ui:composition>