<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	
	template="/templates/template-general.xhtml">
	
<ui:define name="titulo">
    #{msgs.tituloOperacionListado}
</ui:define>

<ui:define name="cuerpo">
	<h:form id="form-principal">
		<h:dataTable var="valumno" value="#{controller.alumnos}" border="1">
			<h:column>
				<f:facet name="header">#{msgs.tablaNombre}</f:facet>
				#{valumno.nombre}
			</h:column>
			<h:column>
				<f:facet name="header">#{msgs.tablaApellidos}</f:facet>
				#{valumno.apellidos}
			</h:column>
			<h:column>
				<f:facet name="header">#{msgs.tablaIdUser}</f:facet>
				#{valumno.iduser}
			</h:column>
			<h:column>
				<f:facet name="header">#{msgs.tablaCorreo}</f:facet>
				#{valumno.email}
			</h:column>
			<h:column>
				<f:facet name="header">#{msgs.tablaBaja}</f:facet>
				<h:commandLink 
					type="submit"
					value="#{msgs.enlaceBaja}" 
					action="#{controller.baja}" 
					immediate="true"
				>	
					<f:setPropertyActionListener 
						target="#{controller.alumno.id}"
						value="#{valumno.id}" 
					/>
					<f:ajax execute="@this" render="@form" />
				</h:commandLink>
			</h:column>
			<h:column>
				<f:facet name="header">#{msgs.tablaEditar}</f:facet>
				<h:commandLink 
					type="submit"
					value="#{msgs.enlaceEditar}"
					action="#{controller.edit}" 
					immediate="true"
				>
					<f:setPropertyActionListener 
						target="#{controller.alumno.id}"
						value="#{valumno.id}" 
					/>
				</h:commandLink>
			</h:column>
		</h:dataTable>
	</h:form>
</ui:define>

<ui:define name="pie">
	<ui:include src="/snippets/pie-idiomas-casa.xhtml" />
</ui:define>

</ui:composition>