<?xml version="1.0" encoding="ISO-8859-1"?>  
 <!DOCTYPE taglib 
    PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"     "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_2.dtd">
    
    <taglib>
    	<tlibversion>1.0</tlibversion>
    	<jspversion>1.2</jspversion>
    	<shortname>pri</shortname>
    	<uri>tags.prize</uri>
    	<tag>
    		<name>prize</name>
    		<tagclass>tags.PrizeTag</tagclass>
    		<bodycontent>empty</bodycontent>
    		<attribute>
    			<name>number</name>
    			<rtexprvalue>true</rtexprvalue>
    		</attribute>
    	</tag>
    </taglib> 