<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:panelGrid columns="2">
  
		#{msgs.login_form_name_label}: 
		<h:panelGroup>
			<h:inputText 
				id="name" 
				value="#{login.name}" 
				required="true"
				requiredMessage="#{msgs.login_form_name_required}" />
			<h:message for="name" />
		</h:panelGroup>
  
		#{msgs.login_form_password_label}: 
		<h:panelGroup>
			<h:inputSecret 
				id="password" 
				value="#{login.password}" 
				required="true"
				requiredMessage="#{msgs.login_form_password_required}" />
			<h:message for="password" />
		</h:panelGroup>

	</h:panelGrid>

</ui:composition>