<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOpciones}
</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<h:commandLink value="#{msgs.enlaceListado}"
				action="#{controller.listado}" />
			<br />
			<h:commandLink value="#{msgs.enlaceAlta}" action="altaForm"
				actionListener="#{alumno.iniciaAlumno}" />
		</h:form>
	</ui:define>

	<ui:define name="pie">
		<ui:include src="/snippets/pie-idiomas.xhtml" />
	</ui:define>

</ui:composition>