<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<title>Cabecera</title> 
</h:head>
<h:body>

<h:form>
	<h:panelGrid columns="2">
		NOMBRE:
		<h:inputText value="#{controller.alumno.nombre}"/>
		
		APELLIDOS:
		<h:inputText value="#{controller.alumno.apellidos}"/>
		
		USERID:
		<h:inputText value="#{controller.alumno.iduser}"/>
		
		EMAIL:
		<h:inputText value="#{controller.alumno.email}"/>
	</h:panelGrid>
	<h:commandButton value="Salvar" action="#{controller.salva}"/>
</h:form>

</h:body>
</html>