<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<title>Cabecera</title> 
</h:head>
<h:body>

<h:form>
	<!-- Se llama al método listado del Bean controller que llevará la navegación a la vista oportuna -->
	<h:commandLink value="Listado de alumnos" action="#{controller.listado}"/>
	<br/>
	<h:commandLink value="Alta de alumno" actionListener="#{controller.iniciaAlumno}" action="altaForm"/>
</h:form>

</h:body>
</html>