<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<title>Cabecera</title> 
</h:head>
<h:body>

<h:form>
	<h:dataTable var="alumno" value="#{controller.alumnos}" border="1">
		<h:column><f:facet name="header">Nombre</f:facet>#{alumno.nombre}</h:column>
		<h:column><f:facet name="header">Apellidos</f:facet>#{alumno.apellidos}</h:column>
		<h:column><f:facet name="header">IdUser</f:facet>#{alumno.iduser}</h:column>
		<h:column><f:facet name="header">Email</f:facet>#{alumno.email}</h:column>
		<h:column><f:facet name="header">Baja</f:facet>
			<h:commandLink action="#{controller.baja(alumno.id)}" type="submit" value="BAJA" immediate="true"/>
		</h:column>
		<h:column><f:facet name="header">Edición</f:facet>
			<h:commandLink action="#{controller.edit}" type="submit" value="EDITAR" immediate="true">
				<f:setPropertyActionListener target="#{controller.alumno}" value="#{alumno}"></f:setPropertyActionListener>
			</h:commandLink>
		</h:column>
	</h:dataTable>
</h:form>

</h:body>
</html>